
.additionally__wrapper {
  border-top: 1px solid @border_grey;
  border-bottom: 1px solid @border_grey;
  padding-top: 13px;
  padding-bottom: 19px;
}

.additionally__header {
  font-size: @font-size + 10px;
  line-height: @line-height + 6px;
  font-weight: 400;
  color: @basic_black;
  .clear;
}

.additionally__subtitle {
  font-size: @font-size + 2px;
  line-height: @line-height - 2px;
  font-weight: 400;
  color: @special_dark-grey-2;
}

.additionally__continer {
  display: flex;
  justify-content: space-between;
}

.additionally__text {
  line-height: @line-height - 4px;
  color: @special_dark-grey;
}
