
.banner {
  background: linear-gradient(rgba(104, 183, 56, 0.85) 63%, @basic_white 63%), url("../img/index-background-desktop.png");
  margin-bottom: 24px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 63%, @basic_white 63%), url("../img/index-background-desktop@2x.png");
    background-size: contain;
  }
}

.banner__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 22px;
}

.banner__header {
  z-index: 2;
}

.banner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: @basic_white;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 24px;
}

.banner__slogan {
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @basic_white;
}

.banner__img {
  position: absolute;
  top: 165px;
  z-index: 1;
}

.banner__button {
  display: block;
  text-align: center;
  width: 100%;
  font-size: @font-size;
  line-height: @line-height;
  margin-top: 302px;
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .banner {
    background: @basic_white;
    margin-top: -4px;
  }

  .banner__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
    height: 316px;
  }

  .banner__header {
    display: flex;
    flex-direction: column;
    padding-left: 87px;
    margin-top: 71px;
  }

  .banner__title {
    font-size: @font-size + 46px;
    line-height: @line-height + 42px;
    font-weight: 400;
    color: @basic_black;
    text-align: start;
    .clear;
    padding-right: 207px;
    margin-bottom: 21px;
  }

  .banner__slogan {
    font-size: @font-size + 6px;
    line-height: @line-height + 2px;
    text-transform: uppercase;
    text-align: start;
    color: @basic_black;
  }

  .banner__img {
    order: 1;
    position: absolute;
    top: 272px;
    left: 20px;
    z-index: 1;
  }

  .banner__button {
    width: 239px;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 2px;
    margin: 0;
    margin-top: 28px;
    margin-left: -5px;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    margin-top: -101px;
    background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, @basic_white 50%), url("../img/index-background-desktop-1.png");
    padding-bottom: 380px;
    background-repeat: no-repeat;
    background-position: 100%;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(to left, rgba(104, 183, 56, 0.85) 50%, @basic_white 50%), url("../img/index-background-desktop-1@2x.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  .banner__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto;
    height: 316px;
  }

  .banner__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 79px;
    width: 415px;
    margin-top: 225px;
  }

  .banner__img {
    position: absolute;
    top: 143px;
    left: 468px;
  }

  .banner__title {
    padding: 0;
    margin-right: 1px;
  }

  .banner__button {
    margin-top: 31px;
    margin-left: 1px;
  }
}
