
.banner__wrapper {
  background: @basic_green;
}

.banner__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: @basic_white;
  padding: 0;
  margin: 0;
}

.banner__slogan {
  line-height: 14px;
  text-transform: uppercase;
  color: @basic_white;
}

// button

.banner__button {
  font-size: @font-size;
  line-height: @line-height;
}
