
.button-classic {
  font-family: "Oswald", sans-serif;
  color: @basic_white;
  text-transform: uppercase;
  padding: 10px 0;
  background-color: @basic_green;
  border: none;
  text-decoration: none;
}
