
.button-classic {
  font-family: "Oswald", sans-serif;
  color: @basic_white;
  text-transform: uppercase;
  background-color: @basic_green;
  border: none;
  text-decoration: none;
}

.button-classic:hover,
.button-classic:focus {
  background-color: @basic_green-2;
}

.button-classic:active {
  background-color: @basic_green-2;
}

.button-classic:active span {
  opacity: 0.3;
}
