
.calculation {
  margin-top: 42px;
}

.calculation__wrapper {
  display: flex;
  justify-content: space-around;
  margin-right: 49px;
  margin-left: 53px;
  margin-top: 30px;
}

.calculation__label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.calculation__range {
  width: 84px;
}

.calculation__background {
  height: 10px;
  background-color: @basic_white;
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 43px;
  padding-top: 4px;
  border: 1px solid @special_grey;
}

.calculation__background .calculation__scale {
  height: 6px;
  background: @basic_green;
  border-radius: 6px;
}

@media(min-width: @tablet-width) {
  .calculation__img {
    width: 708px;
    height: 620px;
    margin-top: 16px;
  }

  .calculation__wrapper {
    margin-top: -67px;
    margin-right: 55px;
    margin-left: 55px;
  }

  .calculation__label {
    font-size: @font-size + 6px;
    line-height: @line-height + 12px;
    margin-top: -5px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
  }

  .calculation__range {
    width: 428px;
    padding-top: 8px;
  }

  .calculation__background {
    position: relative;
    height: 6px;
    background-color: @scale_grey;
    padding: 0;
    border: none;
  }

  .calculation__background .calculation__scale {
    display: none;
  }

  .calculation__background .calculation__toggle {
    position: absolute;
    top: -14px;
    left: 199px;
    width: 8px;
    height: 8px;
    padding: 0;
    border: 13px solid @basic_white;
    border-radius: 50%;
    background-color: @basic_green;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  }

  .calculation__background .calculation__toggle::before {
    position: absolute;
    content: "";
    top: -14px;
    left: -14px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid @border;
  }
}

@media(min-width: @desktop-width) {
  .calculation__img {
    width: 690px;
    height: 656px;
    margin-top: -100px;
    margin-left: 134px;
  }

  .calculation__wrapper {
    margin-top: -100px;
    margin-left: 203px;
    margin-right: -9px;
  }
}
