
.catalog__section {
  width: 280px;
  margin: 0 auto;
}

.catalog__content {
  border-top: 1px solid @border_grey;
  border-bottom: 1px solid @border_grey;
  padding-top: 19px;
  padding-bottom: 25px;
}

.catalog__headline {
  font-size: @font-size + 2px;
  line-height: @line-height + 2px;
  font-weight: 400;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  .clear;
}

.catalog__list {
  list-style: none;
  .clear;
}

.catalog__item {
  display: flex;
  justify-content: space-between;
}

.catalog__text {
  font-family: "Arial", sans-serif;
  font-size: @font-size - 2px;
  line-height: @line-height - 2px;
  color: @special_dark-grey;
}

.catalog__button {
  display: block;
  text-align: center;
  font-size: @font-size + 2px;
  line-height: @line-height + 2px;

  &--all {
    padding: 20px 0;
    background-color: @basic_grey;
    color: @special_dark-grey;
  }
}

@media(min-width: @tablet-width) {
  .catalog__section {
    width: 708px;
    margin: 0 auto;
  }

  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog__headline {
    font-size: @font-size + 6px;
    line-height: @line-height + 6px;
    text-align: center;
  }

  .catalog__continer {
    display: flex;
    justify-content: flex-end;
  }

  .catalog__content {
    width: 324px;
    border: none;
  }

  .catalog__case {
    padding: 0 37px 40px 39px;
    background-color: @basic_grey;
  }

  .catalog__item {
    border-bottom: 1px solid @special_grey;
    padding-top: 7px;
    padding-bottom: 9px;
  }

  .catalog__button {
    margin-top: 33px;
  }
}

@media(min-width: @desktop-width) {
  .catalog__section {
    width: 1220px;
    margin: 0 auto;
  }

  .catalog__headline {
    line-height: @line-height + 3px;
  }

  .catalog__content {
    width: 245px;
  }
}
