.copyright {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -9px;
}

.copyright__link {
  display: flex;
  text-decoration: none;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.4px;
  color: @special_dark-grey;
  margin-top: 7px;
  margin-left: -1px;
  margin-right: 139px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 163px;
    margin-top: 33px;
    align-items: normal;
  }

  .copyright__text {
    margin-right: 23px;
  }
}
