
.exemplar {
  background-color: @basic_grey-2;
}

.exemplar__wrapper {
  margin-top: -8px;
  padding-bottom: 34px;
}

.exemplar__header {
  width: 280px;
  margin: 0 auto;
  padding: 0 21px 0 20px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding-top: 26px;
  margin-top: 29px;
}

.exemplar__description {
  width: 280px;
  margin: 0 auto;
  padding: 0 21px 0 20px;
  font-family: "Arial", sans-serif;
  margin-top: 32px;
  margin-bottom: 15px;
}

.exemplar__wrap {
  width: 280px;
  margin: 0 auto;
  padding: 0 21px 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -14px;
}

.exemplar__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.exemplar__span-upper {
  width: 124px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid @border_grey;
  border-radius: 3px;
  padding: 15px 0 17px 0;
}

.exemplar__text {
  width: 77px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  margin-top: -35px;
  background-color: @basic_grey-2;
}

.exemplar__block {
  display: flex;
  width: 280px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.exemplar__title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  .clear;
  padding-right: 3px;
}

.exemplar__title-span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .exemplar {
    padding: 0;
    background: linear-gradient(@basic_white 55%, @basic_grey-2 55%);
    margin-top: 37px;
    padding-bottom: 69px;
  }

  .exemplar__wrapper {
    margin: 0 auto;
    padding: 0;
  }

  .exemplar__box {
    width: 708px;
    margin: 0 auto;
  }

  .exemplar__header {
    font-size: @font-size + 46px;
    line-height: @line-height + 42px;
    width: auto;
    .clear;
  }

  .exemplar__description {
    width: 702px;
    .clear;
    margin-top: 64px;
  }

  .exemplar__wrap {
    width: 708px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 22px;
  }

  .exemplar__span-upper {
    font-size: @font-size + 16px;
    line-height: @line-height + 19px;
    padding: 18px;
  }

  .exemplar__text {
    font-size: @font-size;
    line-height: @line-height - 4px;
    margin-top: -40px;
    width: auto;
    background-color: @basic_white;
    padding: 0 8px;
  }

  .exemplar__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 303px;
  }

  .exemplar__title {
    font-size: @font-size + 6px;
    line-height: @line-height + 2px;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .exemplar__title-span {
    font-size: @font-size + 6px;
    line-height: @line-height + 2px;
  }
}

@media (min-width: @desktop-width) {
  .exemplar {
    background: linear-gradient(@basic_white 23%, @basic_grey-2 23%);
    margin-top: 16px;
  }

  .exemplar__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .exemplar__description {
    width: 436px;
    margin-top: 147px;
  }

  .exemplar__case {
    display: flex;
    width: 1220px;
    justify-content: space-between;
  }

  .exemplar__wrap {
    display: flex;
    justify-content: space-between;
    width: 367px;
    margin-left: 0;
    margin-top: 35px;
  }

  .exemplar__block {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 326px;
    margin-top: 56px;
  }

  .exemplar__title {
    .clear;
  }

  .exemplar__text {
    background-color: @basic_grey-2;
  }
}
