
.exemplar__wrapper {
  background-color: @basic_grey-2;
}

.exemplar__header {
  font-size: 36px;
  line-height: 40px;
}

.exemplar__description {
  font-family: "Arial", sans-serif;
}

.exemplar__span-upper {
  font-size: 24px;
  line-height: 24px;
}

.exemplar__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}
