
.form__header-medium {
  font-size: @font-size;
  font-weight: 400;
  text-transform: uppercase;
  color: @basic_black;
}
.form__header {
  font-size: @font-size + 10px;
  line-height: 26px;
  font-weight: 400;
  color: @basic_black;
  .clear;
}

.form__header--contacts {
  margin-top: 26px;
  margin-bottom: 32px;
}

.form__contact {
  color: @special_dark-grey;
}

.form__list {
  list-style: none;
  .clear;
  &--input {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  &--input:last-child {
    margin-bottom: 0;
  }
}

.form__header--comment {
  margin-top: 15px;
  margin-bottom: 34px;
}

.form__item--full-name,
.form__item--contact {
  margin-bottom: 14px;
}

.form__item label {
  font-size: @font-size + 2px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__list--radio {
  border: 1px solid @border_grey;
  padding-top: 26px;
  padding-bottom: 28px;
}

.form__item--radio {
  margin-bottom: 25px;
}

.form__input--radio {
  color: @special_dark-grey-2;
}
.form__item--radio:last-child {
  margin-bottom: 0;
}

.form__input--text::placeholder,
.form__input--email::placeholder,
.form__input--mobile::placeholder,
.form__textarea::placeholder {
  color: @special_dark-grey;
}

.form__input--email,
.form__input--mobile {
  border: 1px solid @special_grey;
}

.form__header--additionally {
  margin-top: 27px;
  margin-bottom: 34px;
}
.form__textarea,
.form__input--text {
  border: 1px solid @border_grey-2;
}

.form__item--checkbox {
  margin-bottom: 13px;
  color: @basic_black;
}
.form__item--checkbox:last-child {
  margin-bottom: 0;
}

.form__button {
  font-size: @font-size + 2px;
  line-height: @line-height + 2px;
  color: @basic_white;
  text-transform: uppercase;
  padding: 7px 0;
  background-color: @basic_green;
  border: none;
}

.form__text {
  font-family: "Arial", sans-serif;
  line-height: @line-height - 2px;
  color: @basic_black;
  text-align: center;
}


