
.form {
  &__header-medium {
    font-size: @font-size;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__header {
    font-size: @font-size + 10px;
    line-height: 26px;
    font-weight: 400;
    color: @basic_black;
    .clear;
  }

  &__header--contacts {
    margin-top: 26px;
    margin-bottom: 32px;
    .form__contact {
      color: @special_dark-grey;
    }
  }

  &__list {
    list-style: none;
    .clear;
    &--input {
      margin-top: 20px;
      margin-bottom: 24px;
    }
    &--input:last-child {
      margin-bottom: 0;
    }
  }

  &__header--comment {
    margin-top: 15px;
    margin-bottom: 34px;
  }

  &__item--full-name,
  &__item--contact {
    margin-bottom: 14px;
  }

  &__item label {
    font-size: @font-size + 2px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__list--radio {
    border: 1px solid @border_grey;
    padding-top: 26px;
    padding-bottom: 28px;
    .form__item--radio {
      margin-bottom: 25px;
      .form__input--radio {
        color: @special_dark-grey-2;
      }
    }
    .form__item--radio:last-child {
      margin-bottom: 0;
    }
  }


  &__input--text::placeholder,
  &__input--email::placeholder,
  &__input--mobile::placeholder,
  &__textarea::placeholder {
    color: @special_dark-grey;
  }

  &__input--email,
  &__input--mobile {
    border: 1px solid @special_grey;
  }

  &__header--additionally {
    margin-top: 27px;
    margin-bottom: 34px;
  }

  &__item--checkbox {
    margin-bottom: 13px;
  }
  &__item--checkbox:last-child {
    margin-bottom: 0;
  }

  &__button {
    color: @basic_white;
    text-transform: uppercase;
    padding: 7px 0;
    background-color: @basic_green;
    border: none;
  }

  &__text {
    font-family: "Arial", sans-serif;
    line-height: @line-height - 2px;
    color: @basic_black;
    text-align: center;
  }
}

