
.page-footer {
  background: linear-gradient(@basic_white 16%, @basic_grey 16%);
}

.page-footer__wrapper {
  margin-bottom: 7px;
  margin-top: 14px;
}

.page-footer__logo {
  width: 280px;
  margin: 0 auto;
}

.page-footer__navigation {
  width: 100%;
}

.page-footer__logo-wrap{
  text-align: center;
  margin-top: 38px;
}

.page-footer__logo-tagline:hover,
.page-footer__logo-tagline:focus {
  opacity: 0.8;
}

.page-footer__logo-tagline:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer {
    background: linear-gradient(#FFFFFF 23%, #F2F2F2 23%);
  }

  .page-footer__logo {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 708px;
    margin: 0 auto;
    margin-top: 16px;
  }

  .page-footer__navigation {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__logo {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 1220px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    position: relative;
  }
}
