
.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-main__header {
  width: 280px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  .clear;
  margin: 0 auto;
}



.page-header__box {
  margin-top: -5px;
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }
}

.page-header__logo img {
  margin-top: 17px;
  margin-left: 19px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
    margin: 0;
  }
}

.page-header__tagline {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__image {
  margin-left: 52px;
  margin-bottom: 8px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .page-main__header {
    width: 632px;
    margin: 0 auto;
  }

  .page-main__header {
    font-size: @font-size + 46px;
    line-height: @line-height + 42px;
  }

  .page-header__logo {
    width: 177px;
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 1220px;
    margin: 0 auto;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-header__logo {
    width: 202px;
  }

  .page-main__header {
    width: 1220px;
    margin: 0 auto;
  }
}
