.presents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 280px;
  height: 289px;
  margin: 0 auto;
  background: url("../img/gift-photo-mobile.png");
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-bottom: 49px;

  @media (min-resolution: 2dppx) {
    background: url("../img/gift-photo-mobile@2x.png");
    background-size: contain;
  }
}

.presents::before {
  position: absolute;
  content: "";
  top: 58px;
  left: 102px;
  width: 78px;
  height: 80px;
  background-image: url("../img/icon_gift.svg");
  background-repeat: no-repeat;
}

.presents__text {
  width: 161px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: @font-size + 2px;
  line-height: @line-height + 2px;
  color: @basic_white;
  text-align: center;
  padding-bottom: 26px;
}

@media (min-width: @tablet-width) {
  .presents {
    width: 708px;
    background: url("../img/gift-photo-tablet.png");
    height: 200px;
    margin-top: 68px;
    margin-bottom: 123px;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-photo-tablet@2x.png");
      background-size: contain;
    }
  }

  .presents::before {
    top: 59px;
    left: 79px;
  }

  .presents__text {
    text-align: start;
    margin-left: 299px;
    margin-bottom: 41px;
  }
}

@media (min-width: @desktop-width) {
  .presents {
    width: 245px;
    height: 289px;
    background: url("../img/gift-photo-desktop.png");
    background-repeat: no-repeat;
    margin-top: -1px;
    margin-left: 80px;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift-photo-desktop@2x.png");
      background-size: contain;
    }
  }

  .presents::before {
    top: 58px;
    left: 85px;
  }

  .presents__text {
    text-align: center;
    margin-left: 0;
    margin-bottom: 16px;
  }
}
