
.site-list__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid @border;
  padding: 23px 0;
}

.site-list__item a:hover,
.site-list__item a:focus {
  opacity: 0.6;
}

.site-list__item a:active {
  opacity: 0.3;
}

.site-list__item:first-child {
  padding: 0;
  padding: 11px 0 23px;
}

.site-list__item a {
  color: @basic_black;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    width: 440px;
  }

  .site-list__item {
    font-size: @font-size + 4px;
    line-height: @line-height + 6px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    .clear;
    margin-right: 35px;
  }

  .site-list__item:last-child {
    margin-right: 0;
    border: none;
  }

  .site-list__link {
    border-bottom: 2px solid @basic_green;
    padding-bottom: 8px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    width: 478px;
  }

  .site-list__item {
    font-size: @font-size + 6px;
    line-height: @line-height + 12px;
    font-weight: 400;
    text-transform: uppercase;
    .clear;
    margin-right: 33px;
  }

  .site-list__item a {
    color: @basic_white;
  }

  .site-list__item-color a {
    color: @basic_black;
  }

  .site-list__link {
    border-bottom: 2px solid @basic_white;

    &--color {
      border-bottom: 2px solid @basic_green;
    }
  }
}
