
.social {
  margin-bottom: 29px;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  .clear;
  border-top: 1px solid @border_grey;
  border-bottom: 1px solid @border_grey;
  padding: 18px 0;
  margin-top: 29px;
}

.social__item {
  margin-right: 23px;
  margin-left: 15px;
  margin-top: 3px;
}

.social__img {
  width: 24px;
  height: 25px;
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 28px;
}

.social__link:hover .social__link-vkontakte path,
.social__link:hover .social__link-instagram path,
.copyright__link:hover .copyright__html path,
.social__link:focus .social__link-vkontakte path,
.social__link:focus .social__link-instagram path,
.copyright__link:focus .copyright__html path {
  fill: @basic_green;
}

.social__link:hover .social__link-facebook path,
.social__link:focus .social__link-facebook path {
  stroke: @basic_green;
}

.social__link-facebook:active,
.social__link-instagram:active,
.social__link-vkontakte:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .social__list {
    border: none;
  }

  .social__item {
    margin-top: -12px;
    margin-left: 24px;
    margin-right: 0;
  }

  .social__link-vkontakte {
    width: 32px;
    height: 23px;
  }

  .social__link-instagram {
    width: 23px;
    height: 23px;
    margin-top: 2px;
  }

  .social__link-facebook {
    width: 28px;
    height: 28px;
    margin-top: -1px;
  }
}
