
.social {
  margin-bottom: 29px;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  .clear;
  border-top: 1px solid @border_grey;
  border-bottom: 1px solid @border_grey;
  padding: 21px 0;
}

.social__img {
  width: 24px;
  height: 25px;
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .social__list {
    border: none;
  }
}
